/*CSS RESET*/
* { 
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*GENERICS*/
body {
font-family: 'PT Sans', sans-serif;
padding-top: 150px;
}

/*UTILITIES*/
.container {
max-width: 1200px;
margin: 0 auto;
}

.border {
    border: 2px dashed black;
}

.center-text {
    text-align: center;
}

/*HEADER*/
#main-header {
    height: 100px;
    width: 100%;
    background-color: rgb(0,132,253);
    box-shadow: 0 1px 3px gray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-right > ul {
    list-style-type: none;
}

.navbar-left > ul {
    list-style-type: none;
}

header li > a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.btn-header {
    color: black;
}

/*FIRST SECTION*/
.fields-of-application {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 15px;
    margin-bottom: 75px;
}

.small-card {
    flex-basis: calc(100% / 3 - 15px);
    flex-shrink: 0;
    flex-grow: 0;
    padding: 5px;
    min-height: 300px;
    border-radius: 20px;
}

.big-card {
    flex-basis: calc(100% / 1.5 - 15px);
    flex-shrink: 0;
    flex-grow: 0;
    padding: 5px;
    min-height: 300px;
    border-radius: 20px;
}

/*SECOND SECTION*/
.second-section {
    background-color: rgb(151,146,228);
}

.planning-and-develop {
    display: flex;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 15px;
}

.first-col {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.second-col {
    flex-basis: 50%;
    display: flex;
    align-items: flex-end;
}


.small-box {
    min-height: 300px;
    border-radius: 20px;
    flex-basis: calc(100% / 2);
}

.big-box {
    min-height: 500px;
    border-radius: 20px;
    flex-basis: 60%;
}

/*THIRD SECTION*/
.third-section {
    padding-top: 50px;
}

.testimonial {
    padding-left: 100px;
    padding-right: 100px;
}

.citation {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.people-cit {
    min-height: 150px;
    border-radius: 20px;
    flex-basis: calc(100% / 3);
    background-color: rgb(151,146,228);
}

/*FOURTH SECTION*/
.fourth-section {
    background-color: rgb(151,146,228);
    margin-top: 50px;
}

.kind-of-benefit {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.benefit-title {
    padding: 20px 0;
}

.benefit-card {
    flex-basis: calc(100% / 3 - 10px);
    min-height: 350px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
}

/*FIFTH SECTION*/
.fifth-section {
    margin-top: 50px;
}

.about-rows {
    display: flex;
    margin-bottom: 100px;
}

.about-text-col {
    flex-basis: 70%;
}

.about-img-col {
    flex-basis: 30%;
}

.about-text-col > p {
    padding-top: 20px;
    line-height: 30px;
}